body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

/* #region header */

.header-all {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-all .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-all {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.nav-logo-span {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}

.nav-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-a:hover {
  color: #404bbf;
}

.nav-a:focus {
  color: #404bbf;
}

.address-all {
  font-style: normal;
}

.address-item {
  padding: 24px 0;
}

.address-link {
  display: flex;
  gap: 40px;
}
.nav-a-first {
  position: relative;
  color: #404bbf;
}
.nav-a-first::after {
  display: block;
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.address-a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-a:hover {
  color: #404bbf;
}

.address-a:focus {
  color: #404bbf;
}
/* #endregion header */

/* #region hero-section */
.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button-hero-section {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero-section:hover {
  background-color: #404bbf;
}

.button-hero-section:focus {
  background-color: #404bbf;
}
/* #endregion hero-section */
/* #region about-company-section */

.about-company-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-company-list {
  display: flex;
  gap: 24px;
}

.about-company-item {
  width: calc((100% - 72px) / 4);
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.about-company-item-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

/* #endregion about-company-section */
/* #region our-teams-section */

.our-teams-section {
  background: #f4f4fd;
  padding: 120px 0;
}

.our-teams-section .section-title {
  margin-bottom: 72px;
}

.our-teams-list {
  display: flex;
  gap: 24px;
}

.employee-our-teams-card {
  width: calc((100% - 72px) / 4);
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-teams-card-text {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}

.our-teams-card-text .item-title {
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
}

.our-teams-card-text .section-text {
  text-align: center;
}

.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

.social-media-vector {
  fill: #f4f4fd;
}
/* #endregion our-teams-section */
/* #region our-portfolio-section */

.our-portfolio {
  padding: 120px 0;
}

.our-portfolio .section-title {
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.porfolio-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-card:hover,
.porfolio-card:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.porfolio-card-text {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.porfolio-card-text .item-title {
  font-weight: 500;
  margin-bottom: 8px;
}

.porfolio-card {
  position: relative;
  overflow: hidden;
}
.our-portfolio-overlay-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-card:hover {
  position: sticky;
  top: -1px;
}
.porfolio-card:hover .our-portfolio-img .our-portfolio-overlay-text {
  transform: translateY(0%);
}
/* #endregion our-portfolio-section */
/* #region footer-section */
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-section {
  background: #2e2f42;
  padding: 100px 0;
}

.social-media-title-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social-media-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link-footer:hover,
.social-media-link-footer:focus {
  background-color: #31d0aa;
}
.social-media-vector-footer {
  fill: #f4f4fd;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-footer-container {
  margin-right: 120px;
}

.social-media-list-footer {
  display: flex;
  gap: 16px;
}
.social-media-item {
  width: 40px;
  height: 40px;
}
/* #endregion footer-section */
